*{padding: 0;margin: 0;}
.container{height: 100vh;
           width: 100vh;
           color: #161417;
           background: #de6c50;
           text-align: center;}
.Me,.Okie, .No, .Idk{
	padding-top: 25%
}
h2{font-size: 100px;margin-bottom: 100px;}
.Me span{color: red;}
.Me a{text-decoration: none;
     background: #eee;
     padding: 30px;
     margin: 20px 30px;
     border: 12px solid #ddd;
     border-radius: 30px;
 }
#No{color:red;}
#Okie{color: green;}
#Idk{color: #6e5a25;}
